= form_for @resource, :as => 'form', url: admin_user_save_path , method: 'post' do |f|
	- if @resource != nil and @resource.id != nil
		= f.hidden_field :id, value: @resource.id
		
	%h3 Cadastro de Usuário
	%table{width: "80%"}
		%tr
			%td{width: "50%"}
				.field    
					= f.label :username, 'Usuário'    
					= f.text_field :username, value: @resource.username
				.field    
					= f.label :first_name, 'Nome'    
					= f.text_field :first_name, value: @resource.first_name

				.field    
					= f.label :middle_name, 'Nome do meio'    
					= f.text_field :middle_name, value: @resource.middle_name

				.field    
					= f.label :last_name, 'Sobrenome'    
					= f.text_field :last_name, value: @resource.last_name
				.field    
					= f.label :nickname, 'Apelido'    
					= f.text_field :nickname, value: @resource.nickname			
				.field    
					= f.label :email, 'E-Mail'    
					= f.text_field :email, value: @resource.email												
				.field    
					= f.label :last_name, 'Senha'    
					= f.password_field :password, value: @resource.password					
				%td
	.actions    
		= submit_tag "Salvar", class: 'button button-big blue'
